.wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}


.container {
    width: var(--default-layout-width);
    padding-left: 20px;
    margin-top: var(--default-layout-header-height);
    display: flex;
}


.content {
    width: 100%;
    margin-left: var(--default-layout-sidebar-width);
    // margin-top: var(--default-layout-header-height);
    // display: flex;
    // flex: 1;
    // padding: 0px 0px 0px 80px;
    // margin-top: -1px;
    // max-height: 95vh;
    // overflow-y: scroll;
    // margin-right: auto;
    // margin-left: auto;
    // -ms-overflow-style: none; /* IE and Edge */
    // scrollbar-width: none; /* Firefox */
}

.content::-webkit-scrollbar {
    display: none;
}
