.content {
    width: 100%;
    margin-top: var(--default-layout-header-height);
    display: flex;
    flex: 1;
    padding: 0px 0px 0px 80px;
    margin-top: -1px;
    max-height: 95vh;
    overflow-y: scroll;
    margin-right: auto;
    margin-left: auto;
}