.discover-item {
    border: 0.5px solid #9e9e9e7e;
    width: fit-content;
    min-width: 30px;
    padding: 2px 10px 2px;
    border-radius: 32px;
    display: inline-block;
    margin: 3px 8px 3px 8px;
}

.discover-icon {
    width: 13px;
    margin: 1px;
}

.discover-item > a {
    display: flex;
    text-decoration: none;
}

.discover-text {
    opacity: 0.6;
    margin: 0;
    font-size: 1.4rem;
}
