

.progress {
    max-width: 90%;
    flex: 1;
    height: 12px;
    position: relative;

    &:hover {
        .progress_bar {
            height: 4px;
        }
        .progress_circle {
            opacity: 1;
        }
    }

    &::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: rgba($color:#fff, $alpha: 0.3);
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
        transform: translateY(-50%);
    }
    .range {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 10;
        transform: translateY(-50%);
        cursor: pointer;
        opacity: 0;
    }
}

.progress_bar {
    width: 100%;
    height: 2px;
    background-color: var(--white);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.progress_circle {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--white);
    border-radius: 50%;
    top: 50%;
    transform: translate(-6px, -50%);
    opacity: 0;
}
